<p>Game Name: <%= @game.gamename %>
	
<p>Console: <%= @game.console_format %>
	
<p>Developer: <%= @game.developer %>
	
<p>Publisher: <%= @game.publisher %>
	
<p>Authentic? <%= @game.authentic %>
	
<p>Release Date: <%= @game.releasedate %>
	
<p>Condition: <%= @game.condition %>	

<br>
<br>
<br>
<a href="/games/<%=@game.id%>/edit">Edit Game </a>
<br>
<br>
<br>
<form method="post" action="/games/<%=@game.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <br>
  <input type="submit" value="Delete Game">
</form>
